/******************************/
/****** General properties ****/
/******************************/

* {
  box-sizing:border-box;	/* padding+border included in width/height */
	user-select: none;
}

body {
  background-image: linear-gradient(rgb(255, 255, 255, 0), rgb(255, 250, 206)),
                    url("../assets/backgrounds/7wonders-2.jpg");
  
}

.hidden {
  visibility: hidden;
}

/* Borders on all elements for debugging purposes */
/*
*:not(path) {
	outline:    solid 0.1rem hsla(210, 100%, 100%, 0.5) !important;
	box-shadow: none !important;
}
*/

#all {
	
	/* Choix 1 : taille "fixe" mais qui zoom in/out en fct de l'écran */
  position: fixed;
	left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
	
	/* Choix 2 : design qui s'adapte pour créer de l'espace
	si bcp de place, mais ne se réduit pas en fct de l'écran 
	 position:fixed;
     width:100%;
     height:100%;
  */
  
  display: grid; /* grid layout : similaire au swing border layout */
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "coins board board"
    "city1 pyramid city2"
    "city1 pyramid city2";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
}

/****************************/
/*** General game items *****/
/****************************/

.card {
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 2.5px 2.5px #bbb;
  /*transition: transform .25s ease 0s;*/
  backface-visibility: hidden;
  z-index: 1;
  margin: 4px;
}

.card:hover {
  transform: scale(1.9);
  z-index: 2;
  transition: transform .25s ease .6s;
}

.playable:hover {
  border: 3px solid green;
  cursor: pointer;
}

.notplayable:hover {
  border: 3px solid red;
  cursor: pointer;
}

.wonder {
  width: 150px;
}

.building {
  width: 80px;
}

/*****************************/
/*****   Discard pile    *****/
/*****************************/

#discard {
  grid-area: discard;
  justify-self: start;
  align-self: start;
  width:450px;
  height:150px;
	position: absolute;
}

.trash {
  position: absolute;
  left: 30px;
  top: 30px;
}

.trash p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 1;
  font-family: Trebuchet MS;
  font-weight: bold;
  margin : 0px;
}

.trashCard {
  position: absolute;
  z-index: 1;
}

.trashDetails {
  display: none;
  position: absolute;
  left: 30px;
  top: 30px;
}

.trashDetailsCard {
  position: relative;
  z-index: 1;
}

#trashDetailsToggle {
  display: none;
}

#trashDetailsToggle:checked ~ .trashDetails {
  display: inline;
}

#trashDetailsToggle:checked ~ .trash {
  display: none;
}

/*****************************/
/** Military/progress board **/
/*****************************/

#board {
    grid-area: board;
    justify-self: center;
    align-self: start;
    position: relative;	
}

.militaryBoard {
  position:relative;
}

.conflictPawn {
  position:absolute;
  top: 37.25%;
  width: 4.2%;
  left: calc( (50% - 0.9%) + 0*4.8%);
  /*transition: 0.5s ease-in-out;*/
}

/*****************************/
/****** Wonder selection *****/
/*****************************/

#wonderSelection {
  grid-area: pyramid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#wonderSelection .wonder {
  width: 200px;
}

/*.conflictPawn {
    position:absolute;
    top: 37.25%;
    width: 4.2%;
    left: calc( (50% - 0.9%) + 0*4.8%);
}

.justAdvancedMilitary {
  animation-name: justAdvancedMilitary;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes justAdvancedMilitary {
      0% { transform: translate(calc(-2*116%), 0px); }
    100% { transform: translate(0px, 0px); }
}*/

/*****************************/
/*****    Trash pile     *****/
/*****************************/

#trash {
  grid-area: trash;
  justify-self: end;
  align-self: start;
  width:150px;
  height:150px;
}

/*****************************/
/***    Players' cities    ***/
/*****************************/

#city1 {
  grid-area: city1;
  justify-self: start;
  align-self: center;
  display: block;
}

#city2 {
  grid-area: city2;
  justify-self: start;
  align-self: center;
}

.wonders {
  display: grid;
  grid-template-columns: auto auto;
}

.wonderContainer {
  position:relative;
}

.wonderContainer .wonder {
  position:relative;
  margin-left:40px;
}

.wonderCard {
  position:absolute;
  height:100%;
  top:50%;
	 left:25%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.wonderCard:hover {
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: 1;
}

.buildingContainer {
  display: grid;
  grid-auto-flow: column;
	grid-template-columns: 84px 84px 84px 84px 84px 84px;
  grid-column-gap: 5px;
}

.buildingContainer .building {
  margin-bottom: -106px;
}

.brown  { grid-column: 1/2; }
.gray   { grid-column: 2/3; }
.yellow { grid-column: 3/4; }
.blue   { grid-column: 4/5; }
.red    { grid-column: 5/6; }
.green  { grid-column: 6/7; }
.purple { grid-column: 7/8; }

.coins {
  grid-area: coins;
  justify-self: start;
  align-self: center;
}

.coin1 {
  width: 54px;
}

.coin3 {
  width: 67px;
}

.coin6 {
  width: 82px;
}

/*.deckCard {
	; 
}*/

/*****************************/
/*****   Age's pyramid   *****/
/*****************************/

#pyramid {
  grid-area: pyramid;
  justify-self: center;
  align-self: center;
  position: relative;
}

.pyramidStage {
  margin-bottom: -65px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.card3DContainer {
  display: flex;
  position: relative;
  transform-style: preserve-3d;
  width: 85px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY( 180deg );
}

.front, .back {
  display: flex;

    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    backface-visibility: hidden;

    /*border: 3px solid black;
    border-radius: 8px;
    box-shadow: 2.5px 2.5px #bbb;
    /*transition: transform .25s ease 0s;*/
    backface-visibility: hidden;
    z-index: 0;
}


/*.pyramidCardContainer {
  padding: 4px;
}*/

/*.pyramidStage.odd {
  margin-left: 40px;
}*/

/*.pyramidCardContainer {
  display:inline-block;
}*/

/*.pyramidCard {
  position: absolute;
}*/

/*****************************/
/*****    Game info       ****/
/*****************************/

#infos {
  grid-area: infos;
  justify-self: center;
  align-self: end;
  width:500px;
  height:70px;
}